.word
{
    color: red;
    font-size: 18rem;
}

.lastTime
{
    color: #FFFFFF;
}

.counter
{
    color: #FFFFFF;
    float: right;
}

#page
{
    min-height: 100%;
}

body
{
    background-color: #000000;
    height: 100%;
}

html {
  height: 100%;
}
